extends layout

block content
  form(action='dishes', method='post')
      | Enter ingredient name italian:
      input(type='text', name='nameItalian', placeholder='Insert name...')
      |                
      br
      | Enter ingredient name english:
      input(type='text', name='nameEnglish', placeholder='Insert name...')
      |                
      br
      |Select category:
      |                
      select(name='category')
        for item in ingredients
          for name in item["names"]
            if name["country"] == 'it'
              option(value=name["name"]) #{name["name"]}
      |                
      br 
      |Enter image name:
      |                
      input(type='text', name='image', placeholder='Insert image...')
      |                
      br
      |                 
      button(type='submit') Submit
  h1= title
  each item in dishes
     p #{item}
