extends layout

block bar
  nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            |                     
            span.icon-bar
            |                     
            span.icon-bar
            |                     
            span.icon-bar
          |                 
          a.navbar-brand(href='index.html') Admin Panel
        |             
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.side-nav
            li.active
              a(href='/')
                i.fa.fa-bullseye
                |  Dashboard
            |                     
            li
              a(href='/ingredients')
                i.fa.fa-tasks
                |  Ingredients
            li
              a(href='/mascots')
                i.fa.fa-tasks
                |  Mascots
            li
              a(href='/dishes')
                i.fa.fa-tasks
                |  Dishes
            
            
          |                 
          ul.nav.navbar-nav.navbar-right.navbar-user
            li.dropdown.messages-dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.fa.fa-envelope
                |  Messages 
                span.badge 2
                |  
                b.caret
              |                         
              ul.dropdown-menu
                li.dropdown-header 2 New Messages
                |                             
                li.message-preview
                  a(href='#')
                    span.avatar
                      i.fa.fa-bell
                    |                                     
                    span.message Security alert
                |                             
                li.divider
                |                             
                li.message-preview
                  a(href='#')
                    span.avatar
                      i.fa.fa-bell
                    |                                     
                    span.message Security alert
                |                             
                li.divider
                |                             
                li
                  a(href='#')
                    | Go to Inbox 
                    span.badge 2
            |                     
            li.dropdown.user-dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.fa.fa-user
                |  Steve Miller
                b.caret
              |                        
              ul.dropdown-menu
                li
                  a(href='#')
                    i.fa.fa-user
                    |  Profile
                |                            
                li
                  a(href='#')
                    i.fa.fa-gear
                    |  Settings
                |                            
                li.divider
                |                            
                li
                  a(href='#')
                    i.fa.fa-power-off
                    |  Log Out
      |         
block content        
        .row
          .col-lg-12
            h1
              | Dashboard 
              small Dashboard Home
            |                     
            .alert.alert-success.alert-dismissable
              button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
              |                         Welcome to the admin dashboard! Feel free to review all pages and modify the layout to your needs.
              |                         For the purpose of data visualization, additional widgets are used, so make sure you review all provided information.
        |             
        .row
          .col-lg-3
            .panel.panel-primary
              .panel-heading
                h3.panel-title
                  i.fa.fa-clock-o
                  | Alerts
              |                         
              .panel-body
                .row.alert-success
                  .col-xs-5
                    i.fa.fa-thumbs-o-up.fa-5x
                  |                                 
                  .col-xs-5.text-right
                    p.alerts-heading 343
                    |                                     
                    p.alerts-text New Orders
                |                             
                .row.alert-success
                  .col-xs-5
                    i.fa.fa-thumbs-o-up.fa-5x
                  |                                 
                  .col-xs-5.text-right
                    p.alerts-heading 1256
                    |                                     
                    p.alerts-text Registrations
                |                             
                .row.alert-danger
                  .col-xs-5
                    i.fa.fa-thumbs-o-down.fa-5x
                  |                                 
                  .col-xs-5.text-right
                    p.alerts-heading 4
                    |                                     
                    p.alerts-text Errors
                |                             
                .row.alert-success
                  .col-xs-5
                    i.fa.fa-thumbs-o-up.fa-5x
                  |                                 
                  .col-xs-5.text-right
                    p.alerts-heading 11
                    |                                     
                    p.alerts-text Mentions
          |                 
          .col-lg-9
            .panel.panel-primary
              .panel-heading
                h3.panel-title
                  i.fa.fa-bar-chart-o
                  |  Traffic Estimations for last 30 days
              |                         
              .panel-body
                #shieldui-chart1
        |             
        .row
          .col-lg-4
            .panel.panel-primary
              .panel-heading
                h3.panel-title
                  i.fa.fa-bar-chart-o
                  |  Logins per week
              |                         
              .panel-body
                #shieldui-chart2
          |                 
          .col-lg-4
            .panel.panel-primary
              .panel-heading
                h3.panel-title
                  i.fa.fa-bar-chart-o
                  |  Budget
              |                         
              .panel-body
                #shieldui-chart3
          |                 
          .col-lg-4
            .panel.panel-primary
              .panel-heading
                h3.panel-title
                  i.fa.fa-bar-chart-o
                  |  Purchases
              |                         
              .panel-body
                #shieldui-chart4
        |             
        .row
          .col-lg-12
            .panel.panel-primary
              .panel-heading
                h3.panel-title
                  i.fa.fa-bar-chart-o
                  |  Sales personnel Data
              |                         
              .panel-body
                #shieldui-grid1
      
    
