doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" )
    link(rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="stylesheets/local.css" )

    script(type="text/javascript" src="javascripts/jquery-1.10.2.min.js")
    script( type="text/javascript" src="bootstrap/js/bootstrap.min.js")

    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    link( rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/shieldui-all.min.css" )
    link(rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" )
    script(type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js")
    script(type="text/javascript" src="http://www.prepbootstrap.com/Content/js/gridData.js")
  body
    #wrapper
        block bar
        #page-wrapper
            block content